.footer {
    height: 25vh;
    background-color: #042C22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-text {
    color: #fff;
    opacity: 0.5;
    text-align: center;
    font-weight: 300;
    width: 100%;
}

.alert{
   padding: 5px 15px;
   position: absolute;
   bottom: 5px
}

.alert-success{
    background-color: #d4edda;
}

.alert-danger{
    background-color: #f8d7da;
}

.alert-warning{
    background-color: #fff3cd;
}

@media screen and (min-width: 768px) {
    .footer-text {
        width: 40%;
    }
}